@media screen and (max-width:1000px) {
    .header-content img {
        width: 50%;
        height: 10vh;
    }

    .header-content nav ul li a {
        font-size: 14px;
    }

    .header-content .login ul i {
        font-size: 20px;
    }

    .header-content .login ul i:last-child::after {
        line-height: 12px;
        width: 12px;
        height: 12px;
        font-size: 12px;

    }

    .header-content .login ul i:last-child b {
        font-size: 8px;
        margin-left: 10px;
        font-weight: 900;
    }
}

@media screen and (max-width:800px) {
    .header-content img {
        width: 20%;
        height: 8vh;
    }

    .header-content nav ul li a {
        font-size: 12px;
    }

    .header-content .login ul i {
        font-size: 12px;
        align-items: center;
    }

    .header-content .login ul i:last-child::after {
        top: 2px;
        left: 6px;
        line-height: 8px;
        width: 8px;
        height: 8px;
        font-size: 8px;

    }

    .header-content .login ul i:last-child b {
        font-size: 6px;
        margin-left: 8px;
        font-weight: bolder;
    }

}

@media screen and (max-width:550px) {
    .header-content img {
        width: 10%;
        height: 8vh;
    }

    .header-content nav ul li a {
        font-size: 10px;
        font-weight: bolder;
    }

    .header-content .login ul i {
        font-size: 10px;
        align-items: center;
    }

    .header-content .login ul i:last-child::after {
        top: 2px;
        left: 6px;
        line-height: 8px;
        width: 8px;
        height: 8px;
        font-size: 8px;
    }

    .header-content .login ul i:last-child b {
        font-size: 10px;
        margin-left: 8px;
        font-weight: bolder;
    }

}

@media screen and (min-width:2000px) {
    .header-content img {
        width: 120%;
        height: 20vh;
    }

    .header-content nav ul li a {
        font-size: 24px;
    }

    .header-content .login ul i {
        font-size: 35px;
    }

    .header-content .login ul i:last-child::after {
        line-height: 18px;
        width: 18px;
        height: 18px;
        font-size: 18px;

    }

    .header-content .login ul i:last-child b {
        font-size: 18px;
        margin-left: 10px;
        font-weight: 900;
    }
}